*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
#img{
    width:100%;
    display: block;
}
.main{
    background-color: rgb(199, 183, 255) ;
text-align: center;
line-height: 1.6;
height: 300px;
}
#t1{
    padding: 40px 0 10px 0;
}
.inferior{
    background-color: rgb(154, 243, 255);
}